h1 {
  margin-left: 10px;
}

.outer-card {
  box-shadow: 0.5px 0.5px 2px 2px rgb(0 0 0 / 20%);
  transition: 0.3s;
  padding-top: 20px;
  max-width: 500px;
  margin: 0 0 0 10px;
}
.outer-container {
  padding: 20px 20px 20px 20px;
  margin-top: 30px;
}

.new-card {
  box-shadow: 0.5px 0.5px 2px 2px rgb(0 0 0 / 20%);
  transition: 0.3s;
  margin-bottom: 20px;
}
.new-card:hover {
  box-shadow: 1px 1px 5px 5px rgb(0 0 0 / 20%);
}
.new-container {
  padding: 1px 25px 25px 25px
}

.card {
  box-shadow: 0.5px 0.5px 2px 2px rgb(0 0 0 / 20%);
  transition: 0.3s;
  margin-bottom: 20px;
}
.card:hover {
  box-shadow: 1px 1px 5px 5px rgb(0 0 0 / 20%);
}
.container {
  padding: 2px 16px;
}

button.new-button  {
  float: right;
  margin-top: -40px;
}
button.save-button  {
  float: right;
}
input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.task-desc {
  margin: 10px 0 10px 10px;
}
.date-status {
  height: 40px;
}
.task-date {
  float: left;
  margin: 3px 0px 10px 10px;
  width: 70%;
  height: 20px;
}
.task-status {
  float: right;
  width: 30%;
  height: 20px;
  margin: -15px -30px 0 0;
}

