.container {
    width: 50%;
    margin: 30px auto;
    padding: 20px 0 0 0;
}

h2 {
    font-weight: 300;
}

input {
    width: 50%;
    margin: 5px 0;
    height: 30px;
    display: block;
}

label {
    display: block;
}

button {
    display: block;
    margin: 5px 0;
}